h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 36px;
  letter-spacing: -1.08px;
  margin: 20px 0;
}

h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 28px;
  letter-spacing: -0.84px;
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.search-bar input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.add-character-form {
  gap: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.add-character-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.add-character-form form input {
  margin-bottom: 0;
}

.add-character-form form button {
  flex-basis: 100%;
  max-width: max-content;
  display: block;
}

p.message {
    color: var(--text);
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}