label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: aliceblue;
}

input {
    width: 200px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

button {
    background-color: #025543;
    color: white;
    padding: 10px 20px;
    border: 1px solid #014737;
    border-radius: 4px;
    cursor: pointer;

}

button.toggle-button {
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #014737;
}

.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.login-title {
    font-size: 36px;
    letter-spacing: -1.08px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}