:root {
  --primary: #2c3e50;
  --secondary: #ecf0f1;
  --text: #ecf0f1;
  --text-h: #bdc3c7;
  --heading: 'Roboto Slab', serif;
  --border: #7f8c8d;

}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.App {
  display: flex;
  flex-direction: column;
  padding: 48px 40px 32px;
  gap: 40px;
  box-sizing: border-box;
}

.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
}


.character-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  background-color: var(--secondary);
  border: 1px solid var(--border);
  border-radius: 8px;
  box-sizing: border-box;
  width: min(720px, 100%);
  margin: 0 auto;
  box-sizing: border-box;
}

.character-card h2 {
  text-align: center;
  margin-bottom: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--primary);
}
nav a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
}
nav a:hover {
  text-decoration: underline;
}

nav button {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
nav button:hover {
  background-color: red;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 36px;
  letter-spacing: -1.08px;
  margin: 20px 0;
}

h1.title {
  font-size: 48px;
  letter-spacing: -1.44px;
}

h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 28px;
  letter-spacing: -0.84px;
  margin: 12px 0;
  display: flex;
  align-items: center;
}

/* h2.character-header {
    display: flex;
    align-items: center;
    gap: 12px;
} */